# ===============================
# Dependencies
# ===============================
node_modules/

# ===============================
# Next.js
# ===============================
.next/
out/
dist/
build/
next-env.d.ts
*.tsbuildinfo

# ===============================
# Environment variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Logs
# ===============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===============================
# OS / Editor
# ===============================
.DS_Store
.idea/
.vscode/

# ===============================
# Testing
# ===============================
coverage/

# ===============================
# Caches
# ===============================
.cache/
.turbo/

# ===============================
# Vercel
# ===============================
.vercel/output

# ===============================
# Archives & binaries
# ===============================
*.zip
*.tar
*.tar.gz
*.tgz
*.deb
*.dylib
*.pem
node_modules/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node
